In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
csv_path = "../Resources/Election_Data.csv"

In [4]:
py_poll_df = pd.read_csv(csv_path)
py_poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
Total_Votes = (py_poll_df['Voter ID'].nunique())
Total_Votes

3521001

In [16]:
group = py_poll_df.groupby('Candidate' ).count().reset_index()

In [17]:
group

  Candidate  Voter ID   County
0    Correy    704200   704200
1      Khan   2218231  2218231
2        Li    492940   492940
3  O'Tooley    105630   105630

In [18]:
group['Vote Percent'] = group['Voter ID'] / Total_Votes

In [20]:
group

  Candidate  Voter ID   County  Voter Account
0    Correy    704200   704200           0.20
1      Khan   2218231  2218231           0.63
2        Li    492940   492940           0.14
3  O'Tooley    105630   105630           0.03

In [21]:
del group['County']

In [24]:
group.iloc[group['Voter Account'].idxmax()]

Candidate           Khan
Voter ID         2218231
Voter Account       0.63
Name: 1, dtype: object