In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
csv_path = "../Resources/Election_Data.csv"

In [4]:
py_poll_df = pd.read_csv(csv_path)
py_poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
Total_Votes = (py_poll_df['Voter ID'].nunique())
Total_Votes

3521001

In [6]:
group = py_poll_df.groupby('Candidate')

In [7]:
group.count()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630