In [53]:
import pandas as pd

In [54]:
import numpy as np

In [55]:
csv_path = "../Resources/budget_data.csv"

In [56]:
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [57]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [58]:
uniuqe_months = budget_df.Date.nunique()
print(uniuqe_months)

86

In [59]:
Total = budget_df["Profit/Losses"].sum()
Total

38382578

In [73]:
#Greatest_Profit
diff = budget_df['Profit/Losses'][0]
ans = None
#Greatest Decrease
diff2 = 0
ans2 = None
#print(diff,ans)
#Iterate and Compare
last_profit = 0
last_loss = budget_df['Profit/Losses'][0]
index = 0
total_change = 0
for current_profit in budget_df['Profit/Losses']:
   net_profit = current_profit - last_profit
   total_change += net_profit
   if net_profit > diff:
    diff = net_profit
    ans = budget_df['Date'][index]
  
   if net_profit < diff2:
    diff2 = net_profit
    ans2 = budget_df['Date'][index]    
  
   last_profit = current_profit
   index+=1


print("Greatest Increase in Profits:" + "is {} {}".format(ans,diff))
print("Greatest Decrease in Profits:" + "is {} {}".format(ans2,diff2))

Greatest Increase in Profits:is Feb-12 1926159
Greatest Decrease in Profits:is Sep-13 -2196167