In [31]:
import pandas as pd

In [32]:
import numpy as np

In [33]:
csv_path = "../Resources/budget_data.csv"

In [34]:
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [35]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [42]:
Total = budget_df["Profit/Losses"].sum()
Total

38382578